<%- include("./partials/header.ejs"); -%>


  <h1>About</h1>
  <hr>
  <h2 style="text-align: center;">My name is Joe</h2>
  <img class="profile-pic" src="/images/headshot.png" alt="Joe Sharick profile"/>
  <p>I started this blog as a means to track and tell my story as a developer.
    From growing up with a desire to create video games, to my career as a
    working musician, to eventually realizing a creative outlet in
    web development, this page serves not only as a landmark in my process, but
    also a means to express that creativity as I document each significant
    project.</p>
    <p>
    To start, I will simply mention this blog as it stands. The emphasis
    in this project was to implement EJS to create templates for multiple pages,
    practice storing my post data to a cloud server using mongoDB/mongoose, and
    to compile and use Sass to better organize and implement my CSS stylings.
    I have a fair amount of tools in my belt at this point, though there will
     always be room to grow, and my journey is only beginning. Thanks for stopping by!</p>




   <%- include("./partials/footer.ejs"); -%>
