<%- include("./partials/header.ejs"); -%>

<h1>Contact</h1>

<ul style="list-style-type:none;">
  <li>
    Shoot me a message: <a href="<a href="mailto:jsharick7@gmail.com?subject=feedback">Jsharick7@gmail.com</a>
    </li>
  </ul>

<%- include("./partials/footer.ejs"); -%>
